{% extends "base.html" %}

{% block title %}
    Объявления
{% endblock %}

{% block content %}
    <h1>Объявления:</h1>
    {% for ad in ads %}
        <h3>{{ ad.title }}</h3>
        <p>
            {{ ad.body|truncatewords:5 }}
        </p>
        <a href="{{ad.get_absolute_url}}">Перейти к объявлению</a> <br>
        Опубликовано: {{ ad.publish }} by {{ ad.author }}
    {% endfor %}
    <p>
        <a href="{% url 'ads:create_form' %}">Создать новое объявление</a>
    </p>
{% endblock %}

{% block menu %}
     {% for ad in ads %}
         <a class="nav-link active" href="{{ loop_ad.get_absolute_url }}">{{ ad.title }}</a>
     {% endfor %}
{% endblock %}